<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
{{>header}}
<div id="tablePage">
    <div class="container">
        <div class="row">
            <h1 class="col text-center mt-4">
                My Vehicles
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div id="table" class="table-responsive p-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Vehicle Name</th>
                        <th>Description</th>
                        <th>Vehicle Type</th>
                        <th>License Plate</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each data}}
                    <tr class="row100 body">
                        <td class="">{{this.name}}</td>
                        <td class="">{{this.description}}</td>
                        <td class="">{{this.vehicleType}}</td>
                        <td class="">{{this.plate}}</td>
                        <td class="" data-id="{{this._id}}">

                            {{#when this.status 'eq' 0}}
                            <button class="btn btn-sm btn-success mr-1 py-1 login" data-id="0">Login</button>
                            {{/when}}
                            {{#when this.status 'eq' 2}}
                            <button class="btn btn-sm btn-success mr-1 py-1 logout" data-id="2">Logout</button>
                            {{/when}}
                            {{#when this.status 'eq' 1}}
                            <button disabled class="btn btn-sm btn-secondary mr-1 py-1">Pending</button>
                            {{/when}}

                            <button class="btn btn-sm btn-danger ml-1 py-1 delete">Delete</button>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>
{{>footer}}

<script>
    $(function () {

        $('.delete').click(function () {
            let id = $(this).parent().data("id");
            $.ajax({
                type: "POST",
                url: "/my-vehicles/delete",
                data: JSON.stringify({
                    "id": id
                }),
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    Swal.fire(
                        'Deleted!',
                        'Page will reload...',
                        'success'
                    )
                    setTimeout(function () {
                        location.href = "/my-vehicles";
                    }, 2000);
                },
            });
        });

        $('.login, .logout').click(function () {

            let id = $(this).parent().data("id");
            let button_type = parseInt($(this).data("id"));
            let message, success_msg;
            if (button_type == 0) {
                message = "Type in Organization Email: ";
                success_msg = 'Request to Login Sent!';
                operation = 1;
            } else if (button_type == 2) {
                message = "Organization email: "
                success_msg = 'Request to Logout Sent!';
                operation = 2
            }
            let name = prompt(message);
            let found = false

            $.ajax({
                type: "POST",
                url: "/request/find-org",
                data: JSON.stringify({
                    "username": name
                }),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response.data) {
                        Swal.fire(
                            "Organization found!",
                            '',
                            'success'
                        )

                        $.ajax({
                            type: "POST",
                            url: "/request/create",
                            data: JSON.stringify({
                                "id": id,
                                "target": name,
                                "operation": operation
                            }),
                            contentType: "application/json; charset=utf-8",
                            success: function (response) {
                                Swal.fire(
                                    success_msg,
                                    'Page will reload...',
                                    'success'
                                )
                                setTimeout(function () {
                                    location.href = "/my-vehicles";
                                }, 2000);
                            },
                        });
                    }
                }
            });
        });

    });

</script>